#PageTitle {
  @include flex(column, center);

  color: #ffffff;

  .container {
    width: 960px;
  }

  h1 {
    font-size: 3.25em;
    .myname {
      font-family: "Lobster", cursive;
      font-size: 4.5rem;
    }

    &::after {
      content: "";
      display: block;
      width: 590px;
      height: 2px;
      margin: .5em 0 .5em 0;
      background-color: #ffffff;
    }
  }

  p {
    font-family: "Courgette", cursive;
  }

  button {
    @include size(100%);

    padding: 10px 15px;
    color: #bbbbbb;
    border: 0;
    outline: 0;
    background: transparent;
  }

  .scrollDown {
    position: absolute;
    bottom: 10%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%);
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    color: #ffffff;
    border: 1px solid rgba(102, 217, 239, .5);
    border-radius: 5px;
    font-size: .5rem;
  }

  .bounce {
    transform-origin: center bottom;
    animation-name: bounce;
  }
}
