@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster');
@import './_pureFullPage.scss';
@import './_mixin.scss';

html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Questrial', '微軟正黑體', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

* {
  // outline: solid 1px red
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page:nth-child(2) {
  background: lightgreen no-repeat center/cover;
}

.page:nth-child(3) {
  background: lightskyblue no-repeat center/cover;
}


#PageTitle {
  // +flex(column, center);
  background-image: url(https://images.unsplash.com/photo-1453195644148-563910c91cf7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c09cc686feda9ad5602f02a3bbeea7cc&auto=format&fit=crop&w=1650&q=80);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;

  @include flex(column, center);

  .container {
    width: 960px;
  }

  h1 {
    font-size: 3.25em;
    .myname {
      font-size: 4.5rem;
      font-family: 'Lobster', cursive;
    }

    &::after {
      display: block;
      margin: .5em 0 .5em 0;
      width: 590px;
      height: 2px;
      background-color: #ffffff;
      content: '';
    }
  }

  p {
    font-family: 'Courgette', cursive;
  }

  button {
    padding: 10px 15px;
    outline: 0;
    border: 0;
    background: transparent;
    color: #bbbbbb;

    @include size(100%);
  }

  .scrollDown {
    position: absolute;
    bottom: 10%;
    left: 50%;
    border: 1px solid rgba(102,217,239,.5);
    border-radius: 5px;
    color: #ffffff;
    font-size: .5rem;
    cursor: pointer;
    transform: translate(-50%);
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }

  .bounce {
    transform-origin: center bottom;
    animation-name: bounce;
  }
}