// @import 'normalize-scss/sass/_normalize.scss';
@import './_pureFullPage.scss';
@import './_mixin.scss';

html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Questrial', '微軟正黑體', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

* {
  // outline: solid 1px red
}



.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page:nth-child(1) {
  background: lightpink no-repeat center/cover;
}

.page:nth-child(2) {
  background: lightgreen no-repeat center/cover;
}

.page:nth-child(3) {
  background: lightskyblue no-repeat center/cover;
}


#PageTitle {
  @include flex(column, center);
  // +flex(column, center);
  background-image: url(https://images.unsplash.com/photo-1453195644148-563910c91cf7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c09cc686feda9ad5602f02a3bbeea7cc&auto=format&fit=crop&w=1650&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

  .container {
    width: 960px;
  }
  h1 {
    font-size: 3.25em;

    &::after {
      content: '';
      background-color: #ffffff;
      display: block;
      height: 2px;
      margin: .325em 0 .5em 0;
      width: 575px;
    }
  }
  p {
    // align-self: flex-start;
  }

  button {
    @include size(100%);
    padding: 10px 15px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #bbb;
  }

  .scrollDown {
    font-size: .5rem;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    color: #ffffff;
    border: 1px solid rgba(102,217,239,.5);
    border-radius: 5px;
    cursor: pointer;
  }

  .bounce {
    animation-name: bounce;
    transform-origin: center bottom;
  }
}
